@(title: String, head: Html = Html(""))(content: Html)(implicit flash: Flash, projects: Seq[String])

<!doctype html>
<html>
  <head>
    <title>@title</title>
    <link href="@routes.Assets.at("/stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
    <link href="@routes.Assets.at("/stylesheets/main.css")" rel="stylesheet" media="screen">
    <script src="@routes.Assets.at("/javascripts/jquery-1.8.3.min.js")"></script>
    @head
  </head>
  <body>
    <header class="jumbotron" id="overview">
      <h1>Magnify <i class="icon-search"></i></h1>
    </header>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          @nav()
        </div>
        <div class="span10">
          <section>
            @content
          </section>
        </div>
      </div>
    </div>
    <script src="@routes.Assets.at("/javascripts/bootstrap.min.js")"></script>
  </body>
</html>
