@(name: String)(implicit flash: Flash, projects: Projects)

@head = {
  <script src="@routes.Assets.at("/javascripts/d3.v2.js")"></script>
  <script src="@routes.Assets.at("/javascripts/display.js")"></script>
}

@main(name, head) {
  <ul class="nav nav-tabs nav-graph-detail-level">
    <li class="disabled">
      <a href="#">@name</a>
    </li>
    <li class="active nav-graph-packages-tab">
      <a class="packages-button">Only packages</a>
    </li>
    <li class="nav-graph-package-imports-tab">
      <a class="package-imports-button">Packages with imports</a>
    </li>
    <li class="nav-graph-whole-tab">
      <a class="whole-button">Whole graph</a>
    </li>
  </ul>
  <div id="chart">
  </div>
}